@use '../../mixins/layouts' as l;
@use '../../variables/variables' as v;

.project-card{
  margin: 2rem 0;
  background-color: v.$lblue !important;
  color: v.$dblue !important;
  border-radius: 15px !important;
  .projects-card-links{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  a{
    color: v.$dblue !important;
    margin: .5rem;
    margin-left: 0;
    :hover{
      color:v.$orange !important;
    }
  }}
}