@use './sass/main.scss';
@use './sass/variables/variables' as v;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main{
  padding-top:6rem;
}

h1{
  font-weight: 700 !important;
  margin: 0 !important;
  color: v.$orange !important;
}

h2,h3{
  font-weight: 500 !important;
  color: v.$orange !important;
  align-self: center;
  text-align: center;
  margin: 2rem !important;
  font-weight: 700;
}

ul,ol{
  list-style: none;
}